* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: azure;
}

.logo {
  height: 120px;
  pointer-events: none;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  width: 165px;
  height: 100%;
  padding: 30px 0px;
  background-color: rgb(154, 213, 255);
  position: fixed;
}

.wrapper .sidebar h3 {
  text-align: left;
  padding: 10px;
  color: black
}